div#blog-post {
    display: none;
}

ul#blog-list, ul#blog-list-legacy {
    list-style-type: none;
}
ul#blog-list li, ul#blog-list-legacy li {
    display: block;
}
ul#blog-list li div, ul#blog-list-legacy li div {
    display: inline;
    font-size: 20px;
}
ul#blog-list a, ul#blog-list-legacy a {
    text-decoration: none;
}
ul#blog-list div.title, ul#blog-list-legacy div.title {
    max-width: 65%;
    width: 65%;
    text-align: left;
}
div.posted-date, #blog-post-date {
    font-style: italic;
    color: gray;
}
div.posted-date {
    max-width: 30%;
    width: 30%;
    text-align: right;
    padding-right: 8px;
}
/* markdown */
blockquote {
    background-color: #444;
    padding: 4px;
    padding-left: 24px;
}